* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgb(158, 158, 158);
    padding: 8px;
    text-align: left;
    color: rgb(52, 52, 52);
}

textarea {
    resize: none;
    min-width: 400px;
    height: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 20px 15px;
}

li a {
    color: #333;
    text-decoration: none;
}
small {
    color: #218c74;
}


#filterExpose {
    text-transform: uppercase;
}

#filter {
    padding: 5px 10px;
}

button {
    margin: 10px 0;
    padding: 5px 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    width: 5%;
}

table tr:nth-child(even) {
    background-color: #dbdbdb;
}

#matchTable, #missingTeamsTable, #resultsTable, #maximasTable {
    display: none;
}

.matchTable {
    font-size: 10px;
}

.highlight {
    border: 2px solid red;
    color: red;
}

.negative-highlight {
    background-color: lightcoral;
}

.positive-highlight {
    background-color: lightgreen;
}

.top5 {
    background-color: yellow;
}

.top5-vs-top5 {
    background-color: #36c;
    color: white;
}

.light-green {
    background-color: lightgreen;
}

.light-red {
    background-color: lightcoral;
}

.light-blue {
    background-color: #add8e6;
}

#maximasTable {
    margin-top: 20px;
}

#maximasTable th, #maximasTable td {
    text-align: center;
}

#gameContainer {
    display: flex;
    gap: 10px;
}

#maximasGolsTable_2_5{
    min-width: 50%;
}

#maximasGolsTable_3_5, #maximasGolsTable_5 {
    flex-grow: 1
}

#performanceChart, #performanceChartOver25 {
    width: 100%;
    display: none;
}

#horario_fixo td, #horario_fixo th {
    padding: 1px;
    width: 5% !important;
    font-size: 14px;
}

#horario_fixo  {
    table-layout: fixed;
}


.red {
    background-color: #ff5e57;
    color: white;
    text-align: center;
}

.orange {
    background-color: #ffc048;
    color: white;
    text-align: center;
}

.blue {
    background-color: #4bcffa;
    color: white;
    text-align: center;
}

.violet {
    background-color: green;
    color: white;
    text-align: center;
}